<h2>Do you want to delete this request?</h2>

{{#with request}}
  <p>{{this.description}}</p>
  
  <p>{{this.location}}"</p>
  
  <p>{{this.date}}</p>

  <button><a href="/index">Delete</button>
</form>

{{/with}}