<h2>Add your request</h2>
<form action="/requests/index" method="POST">

  <label for="title">Name your request:</label> 
  <input id="title" type="text" name="title" placeholder="Cat sitting help">

  <label for="description">Describe it:</label> 
  <input id="description" type="text" name="description">
  
  <label for="location">In which area:</label> 
  <input id="genre" type="text" name="location" placeholder="Berlin, Wedding">
  
  <label for="date">For which Date:</label>
  <input id="date" type="date" name="date" value="">

  <button type="submit">Confirm your request</button>
</form>