<div class="wrapper">
       <header>
         <nav>
           <div class="menu-icon">
             <i class="fa fa-bars fa-2x"></i>
            </div>
             <div class="menu">
               <ul>
                <li><a href="/home"> Home </a></li>
                <li><a href="/profile/index"> Profile </a></li>
                <li><a href="/logout"> Log Out</a></li>          
                </ul>
              </div>
          </nav>
          <div class="logo">
              <h1>LAND ME A HAND</h1>
              </div>
        </header>
      </div>




<div class="containerHoriz">
<h2>Add your request</h2>

<div class="signup-form">
<form action="/requests/index" method="POST">

  <label for="title">Name your request:</label> 
  <input id="title" type="text" name="title" placeholder="Cat sitting help">

  <label for="description">Describe it:</label> 
  <input id="description" type="text" name="description">
  
  <label for="location">In which area:</label> 
  <input id="genre" type="text" name="location" placeholder="Berlin, Wedding">
  
  <label for="date">For which Date:</label>
  <input id="date" type="date" name="date" value="">

  <button type="submit">Confirm your request</button>
</form>

</div>

<button class="btn-nav"><a href="/requests/index">See all your requests</a></button>

</div>
