{{!-- <a href="/logout">Logout</a> --}}

{{#if user}}
  <h2>Welcome, {{ user.username }}!</h2>
  <p>This is your profile </p>
  <button>
    <a href="./home.hbs">Reload the page</a>
  </button>
{{else}}
  <p>Still no logged in, sorry!</p>
{{/if}}
