

{{#if userFromDB.username }}
  <h2>Welcome, {{userFromDB.username}}!</h2>
  <p>This is your profile </p>
{{else}}
  <p>Still not logged in, sorry!</p>
{{/if}}

<button><a href="/logout">Logout</a></button>

<button><a href="/home">Reload the page</a></button>

<div>
<h3> Looking for help?</h3>

<p><a href="/requests/new">Create your request</a></p>

<h3>Willing to give help?</h3>

<p><a href="/offers/index">See who needs help</a></p>


</div>