
    <div class="wrapper">
       <header>
         <nav>
           <div class="menu-icon">
             <i class="fa fa-bars fa-2x"></i>
            </div>
             <div class="menu">
               <ul>
                {{#if user}}
                <li><a href="/profile/index"> Profile </a></li>
                <li><a href="/logout"> Log Out</a></li>
                {{else}}
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
                {{/if}}
                
                </ul>
              </div>
              <div class="logo">
              <h1>LAND ME A HAND</h1>
              </div>
          </nav>
        </header>
      </div>

<div class="content">

  <article>Nowadays, being part of a community that makes a real difference when one of its members need help, can be hard.<article>
  <article><strong>Land me a hand</strong> is the platform where everyone can make the difference.<br>
  Ask for help when you need and...return the favour by lending your hand. </article>
  
</div>

<div id="features">

  <div class="feature-box col-lg-4">
    <i class="icon fas fa-check-circle fa-4x"></i>
      <h3>Easy to use</h3>
        <p>According to all or users</p>
  </div>
            
  <div class="feature-box col-lg-4">
    <i class="icon fas fa-bullseye fa-4x"></i>
      <h3>Direct communication</h3>
      <p>Inside the app</p>
    </div>
              
    <div class="feature-box col-lg-4">
      <i class="icon fas fa-heart fa-4x"></i>
        <h3>Guaranteed help</h3>
        <p>Find and offer it. It's good karma</p>
    </div>

  </div>

  <div id="darkBackground">
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-dcf92b7d-865f-46b6-8b4a-66de7565ce55"></div>
  </div>
